@font-face {
  font-display: swap;
  font-family: 'KFGQPC Uthman Taha Naskh';
  src: url(fonts/uthman-taha-naskh.woff2);
  unicode-range: U+600-6FF, U+FB50-FDFF, U+FE70-FEFF;
}

@font-face {
  font-display: swap;
  font-family: 'Cloister Black';
  src: url(fonts/cloisterblack.woff);
  unicode-range: U+0-7F;
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/crimson-pro.woff2) format("woff2");
  unicode-range: U+0-7F;
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/crimson-pro-bold.woff2) format("woff2");
  unicode-range: U+0-7F;
}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  src: url(fonts/crimson-pro-italic.woff2) format("woff2");
  unicode-range: U+0-7F;
}

       #book-metadata {
            margin: 20px auto;
            padding: 20px;
overflow: hidden
        }

        #cover {
            width: 200px;
            height: 300px;
            margin-right: 20px;
            float: left;

        }

        #book-details {
            overflow: hidden; /* Clear the float */
        }

         #book-details > p:nth-of-type(1) {
            font-size: 24px;
            font-weight: bold;
            margin: 0;
        }

        #book-details > p:nth-of-type(2) {
            font-size: 18px;
            margin: 5px 0;
        }

        #book-details > p:nth-of-type(4) {
            margin-top: 10px;
        }



#authors,
#ebooks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 6em;
  gap-bottom:2em;
  list-style: none;
}

/* TODO fellback here if the browser doesn't support CSS3 grid. 
#authors > li,
#ebooks > li {
  display: inline-block;
  margin-bottom: 4em;
  width: calc(25.88% - 15px);
}
*/

#book-metadata,#metadata {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#ebooks > li > p:nth-of-type(1) > a {
  font-weight: 700;
}

#table-of-contents {
  padding: 3em;
}

#table-of-contents,
#authors > li img,
#ebooks > li img,
input[type=text] {
  border: 1px solid #222;
  border-radius: 5px;
}

#book-metadata,
#metadata,
#table-of-contents,
input[type=text] {
  background-color: rgba(0, 0, 0, 0.13);
}

#authors > li img,
#ebooks > li img {
height: 335px;
width: 224px;

}

#ebooks > li p {
  margin: 3px;
}

#ebooks > li p:nth-of-type(2) > a, #book-details > p:nth-of-type(2) {
  font-style: italic;
}

a {
  color: inherit;
}

main a:hover {
  color: #4f9d85;
}

article {
  margin: 0 auto;
  max-width: 75%;
  text-align: justify;
  font-variant-numeric: oldstyle-nums;
}

body {
  background-color: #E8D6CB;
  color: #403D39;
  font: 20px/1.6 'Crimson Pro', 'Times New Roman', serif;
  hyphens: auto;
  -webkit-hyphens: auto;
  -webkit-text-size-adjust: 100%;
}

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

div.search,
#authors > li,
#ebooks > li,
footer,
h1,
h2 {
  text-align: center;
}

footer {
  border-top: 3px double;
  margin: 1em;
  padding-top: 1em;
}

article p,
footer a {
  margin: 0 10px;
}

footer p {
  font-size: small;
}

h1,
h2 {
  border-bottom: 3px double;
  margin: .75em;
  padding-bottom: .5em;
}

header {
  background-color: #600;
  color: #E8D6CB;
  height: 128px;
  position: relative;
}

header a {
  bottom: 0;
  position: absolute;
}

header a,
#ebooks > li a,
#authors > li a,
#table-of-contents a,
footer a,
nav a {
  text-decoration: none;
}

header img {
  float: left;
  height: 128px;
}

input[type=text] {
  margin-bottom: 3em;
  padding: 2em;
  width: 65%;
}

main[dir=rtl],
article[dir=rtl] {
  direction: rtl;
  font-family: 'KFGQPC Uthman Taha Naskh';
}

main[dir=ltr] h1,
article[dir=ltr] h1,
header a {
  font: 52px 'Cloister Black';
}

article[dir="ltr"] img {
  height: auto;
  max-height: 100%;
  width: 100%;
}

nav {
  background-color: #000;
  border-bottom: 5px solid #222;
  height: 26px;
}

nav a {
  background: url(images/nav.png) center top no-repeat;
  font-size: 12px;
  color: #fff;
  float: right;
  padding: 5px 10px;
}

ul {
  list-style-type: disc;
}

li { 
  margin-bottom: 10px;
}

@media only screen and (max-width: 480px) {
  #authors,
  #ebooks {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
  }

  body {
    font-size: .88em
    }
  #book-details p {
    font: 12px/1.2 serif;
  }

  #authors > li img,
  #ebooks > li img,
  #cover {
    width: 165px;
    height: 224px;
  }

  article {
    max-width: 90%;
  }

  ul, ol {
  list-style: none;
}

}

@media (prefers-reduced-motion: no-preference) {
  #ebooks > li img:hover {
    box-shadow: 3px 3px 1px #00000042;
    transform: scale(1.05);
    transition: all 200ms ease;
  }
}
