@font-face {
  font-display: swap;
  font-family: 'KFGQPC Uthman Taha Naskh';
  src: url(fonts/uthman-taha-naskh.woff2);
  unicode-range: U+600-6FF, U+FB50-FDFF, U+FE70-FEFF;

}

@font-face {
  font-display: swap;
  font-family: 'Cloister Black';
  src: url(fonts/cloisterblack.woff);
  unicode-range: U+0-7F;

}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 400;
  src: url(fonts/crimson-pro.woff2) format("woff2");
  unicode-range: U+0-7F;

}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: normal;
  font-weight: 700;
  src: url(fonts/crimson-pro-bold.woff2) format("woff2");
  unicode-range: U+0-7F;

}

@font-face {
  font-display: swap;
  font-family: "Crimson Pro";
  font-style: italic;
  font-weight: 400;
  src: url(fonts/crimson-pro-italic.woff2) format("woff2");
  unicode-range: U+0-7F;

}

#authors, #ebooks {
  padding: 0;
}

#book-info {
  margin-top: 10px;
}

#book-details p {
  padding: 20px;
  margin: 0 0 5px;
  text-align: justify;
}

#book-details-cell {
  display: table-cell;
  vertical-align: top;
}

#book-info img {
  height:526px;
  width:324px;
}

#book-info img,
#book-details p {
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

#book-table {
  border-spacing: 15px;
  display: table;
}

#ebooks > li > p:nth-of-type(1) > a {
  font-weight: 700;
}

#table-of-contents {
  padding: 3em;
}

#table-of-contents,
.author img,
.book img,
input[type=text] {
  border: #222 solid 1px;
  border-radius: 5px;
}

#table-of-contents,
#book-details p,
input[type=text] {
  background-color: #0000000d;
}

.author img,
.book img {
  height: 326px;
  width: 224px;
}

.author,
.book {
  display: inline-block;
  margin-bottom: 4em;
  width: 32%;
}

.book p {
  margin: 3px;
}

.book-author {
  font-style: italic;
}

a {
  color: inherit;
}

main a:hover {
  color: #4f9d85;
}

article {
  margin: 0 auto;
  max-width: 75%;
  text-align: justify;
}

body {
  background-color: #f5f5dc;
  color: #333333;
  font: 20px/1.6 'Crimson Pro', 'Times New Roman', serif;
  margin: 0;
}

div.search,
.author,
.book,
footer,
h1,
h2 {
  text-align: center;
}

footer {
  border-top: 3px double;
  margin: 1em;
  padding-top: 1em;
}

article p,
footer a {
  margin: 0 .5em;
}

footer p {
  font-size: small;
}

h1,
h2 {
  border-bottom: 3px double;
  margin: .75em;
  padding-bottom: .5em;
}

header {
  background-color: #600;
  color: #eee;
  height: 128px;
  position: relative;
}

header a {
  bottom: 0;
  position: absolute;
}

header a,
.book a,
.author a,
#table-of-contents a,
nav a {
  text-decoration: none;
}

header img {
  float: left;
  height: 128px;
}

input[type=text] {
  margin-bottom: 3em;
  padding: 2em;
  width: 65%;
}

main[dir=rtl],
article[dir=rtl] {
  direction: rtl;
  font-family: 'KFGQPC Uthman Taha Naskh';
}

main[dir=ltr] h1,
article[dir=ltr] h1,
header a {
  font: 52px 'Cloister Black';
}

nav {
  background-color: #000;
  border-bottom: 5px solid #222;
  height: 26px;
}

nav a {
  background: url(images/nav.png) center top no-repeat;
  font-size: 12px;
  color: #fff;
  float: right;
  padding: 5px 10px;
}

@media only screen and (max-width: 480px) {
  #book-details p {
    font: 10px/1.2 serif;
    padding: 4px;
  }
  
  #book-details {
    padding: 0 6px 0;
  }
  
  #book-table {
    border-spacing: 0px;
  }
  
  .author,
  .book {
    width: 100%;
  }
  
  .book img,
  .author img,
  #book-info img {
   height: 230px;
   width: 150px;
  }
  
  article {
    max-width: 90%;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .book img:hover {
    box-shadow: 3px 3px 1px #00000042;
    transform: scale(1.05);
    transition: all 200ms ease;
  }
}

